[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=HelloWorld1
Exec=/opt/HelloWorld1/bin/HelloWorld1
Icon=HelloWorld164
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
